*{
    margin: 0;
    padding: 0;
}
.menu{
width: 900px;
margin: 30px auto;
text-align: center;
}

.menu a{
    border: 3px solid green;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: red;
    margin: 0 10px;
}