*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.artigo{
    width: 100%;
    background-color: rgb(200, 200, 200);
    text-align: center;
}

.artigo h1{
    color:#069;
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
}

.artigo p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #b4b4b4;
    margin-top: 12px;
}