*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
}


.header{
    width: 100%;
    min-width: 1280px;
    height: 200px;
    background: gray;
}

.article{
    width: 1280px;
    margin: 0 auto;
    height: 600px;
    background: red;
}

